.header1{
    background-color: #333;
    ul{
        display: flex;
        flex-flow: row wrap;
        justify-content:stretch;
        list-style-type: none;
        margin: 0;
        padding: 0;
        flex-shrink: 1;
        overflow: hidden;
        background-color: #333;
    }

    li{
        a{
            
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;

            &:hover {
                background-color: #111;
            }
        }
    }

}


.container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;

    div{
        display: flex;
        flex-wrap: wrap;
        flex-direction : row;
        flex-grow: 1;
        flex-flow: row wrap;
        justify-content: space-around;
        margin-top: 20px;

        img{
            min-height: 100px;
            min-width: 100px;
            padding-top: 20px;
            
        }
    }
}

.footer {
    flex-grow: 0;
    background: black;
    color: white;
    text-align: center;
    padding: 10px;


    }
